
#nav {
   
    display:flex;
    align-items: center;
    width:40%;
    justify-content: space-around;
    margin :auto;
    

}
#navh1 {

    color:red;

}
#navlink {
    color:red;
    font-weight: bolder;
}