#Navbar{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(214,215,219);
}

#zxv{

    width:150px;
    background-color:rgb(214,215,219);


}